* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background-color: #eff3f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.left_menu_container {
  float: left;
  width: 200px;
  height: auto;
  padding: 20px 20px;
}

.contents_container {
  float: right;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  flex-grow: 1;
}

.centering_container {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
